.header {
  padding: 0;
  background: #fff;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  z-index: 111;
  width: 1068px;
}

.leftMenu{
  text-align: center;
  li{
    text-align: center;
  }
}

.contentHeader{
  margin-left:110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 16px;
  max-height: 65px;
  overflow: hidden;
  .block {
    width: 80%;
      ul {
        margin: 0;
        li {
          display: inline;
          margin-right: 32px;

          a {
            color: unset;
          }
        }
      }
  }
}
.profile {
  width: 20%;
  justify-content: flex-end;
  display: flex;
  gap: 8px;
}
.antAvatar {
  margin-top: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

