.header {
  padding: 0;
  background: #fff;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  z-index: 111;
  max-width: 1068px;
  width: 1068px;
}

.leftMenu{
  text-align: center;
  li{
    text-align: center;
  }
}